//- var columna = "columna text-center col-xs-12 col-sm-6 col-md-3"
- var fb = {"estilos": "fb","ref": "http://www.facebook.com/technodomus","img": "./images/facebook.svg", "alt":"facebook"}
- var tw = {"estilos": "tw","ref": "http://www.twitter.com/technodomus","img": "./images/twitter.svg", "alt":"twitter"}
- var go = {"estilos": "go","ref": "https://plus.google.com/109633024373291114640","img": "./images/google.svg", "alt":"google"}
- var tel = {"estilos": "tel","ref": "tel:5553363212","img": "./images/phone.svg", "alt":"teléfono"}
- var mail = {"estilos": "mail","ref": "mailto:info@technodomus.com","img": "./images/envelope.svg", "alt":"correo electrónico"}

mixin mixbotones(icon, texto)
  .botones
    div(class="boton boton-#{icon.estilos}")
      a(href="#{icon.ref}" style={padding: 1})
        img.botones-img(src="#{icon.img}", alt="#{icon.alt}", height="30px" style={padding: 0}) 

mixin cardcont(titulo)
  .card.card-15x
    .card-heading
      h2= titulo
    .card-body
      if block
        block
      else
        p en construcción


+cardcont("Habla con nosotros")
  .contacto
    +mixbotones(tel)
    +mixbotones(mail)
    +mixbotones(tw)
    +mixbotones(fb)
    +mixbotones(go)
              
+cardcont('Visitanos')
  .map-responsive
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.492137092907!2d-99.14841905015103!3d19.347831986868414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffd2da6664df%3A0x1f577e2c3371be51!2sTechnodomus%2C+S.A.+De+C.V.!5e0!3m2!1ses-419!2smx!4v1464816928299" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
