extends ./base

block append config
  - var cardp = "card card-primary"
  - var imgUrl = '../images/'
  - var titulo = 'Titulo del articulo'
  - var fecha = "2019-01-01"
  - var fecha_ultima = "2021-01-01"
  - var imagen = "https://technodomus.com/images/logotipo.png"

block append structured-data 
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": "#{ titulo }",
      "image": "#{imagen}",
      "author": {
        "@type": "Person",
        "name": "#{ autor }"
      },
      "datePublished": "#{ fecha }",
      "dateModified": "#{ fecha_ultima }",
      "articleSection": "#{ resumen }"
    }

block content
  
  .grid
    .card.card-default.card-2x
      article
        .card-body
          h1.headline= titulo
          .card-header
            .byline
              address.articulo
                b Por 
                  a(rel= "author" href="mailto:info@technodomus.com")= autor
                p
                  time(pubdate datetime= fecha title= fechalarga) #{fechalarga}
          p.resumen= resumen
          p.claves
            each item in palabras_clave
              b= item+" / "
          .article-content.articulo
            block articulo
    
    if tambien
      .card.card-2x
        .card-header
          h3 También te puede interesar
        .card-body
          ul
          each link, title in tambien
            li
              a(href=link) #{title}
              
// Add extra scripts
block append scripts
