extends ./base

block append config
  - var cardp = "card card-primary"
  - var imgUrl = '../images/'
  
// Add extra stylesheets
block append stylesheets

block content
  
  .grid
    .card.card-default.card-2x
      article
        .card-body
          h1.headline= titulo
          header
            .byline
              address.articulo
                b Por 
                  a(rel= "author" href="mailto:info@technodomus.com")= autor
                p
                  time(pubdate datetime= fecha title= fechalarga) #{fechalarga}
          p.resumen= resumen
          p.claves
            each item in palabras_clave
              b=item+" / "
          .article-content.articulo
            block articulo
    
    if tambien
      .card.card-2x
        .card-header
          h3 También te puede interesar
        .card-body
          ul
          each link, title in tambien
            li
              a(href=link) #{title}
              
// Add extra scripts
block append scripts
