header

  nav.navbar.navbar-expand-sm.fixed-top.navbar-dark
    a.navbar-brand(href=baseUrl) 
      img(src= baseUrl + 'images/logoNegPar.png', alt='Technodomus' height="60px")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.ml-auto.mt-lg-0
        li.nav-item
          a.nav-link(href= baseUrl) Inicio
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Productos
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href=baseUrl + "esterilizacion") Esterilización
            a.dropdown-item(href=baseUrl + "imagenologia") Imagenología
        li.nav-item
          a.nav-link(href=baseUrl+"cotiza") Cotiza
        li.nav-item
          a.nav-link(href=baseUrl+"noticias") Noticias
        li.nav-item
          a.nav-link(href=baseUrl+"nosotros") Empresa
        li.nav-item
          a.nav-link(href=baseUrl+"soporte") Soporte
  //-       span.fa.fa-bars
  //-     a.navbar-brand(href= baseUrl)
  //-   .navbar-right.collapse.navbar-collapse#navbar-colapsada
  //-     ul.nav.navbar-nav
  //-       li
  //-         a(href= baseUrl) Inicio
  //-           span.sr-only (actual)
  //-       li.dropdown
  //-         a.dropdown-toggle(href="#", data-toggle="dropdown", role="button") Productos
  //-           span.caret
  //-         ul.dropdown-menu.multi-level(aria-labelledby="menu")
  //-           li.dropdown
  //-             a(href=baseUrl+"esterilizacion") Esterilización
  //-           li.dropdown 
  //-             a(href=baseUrl+"imagenologia") Imagenología
  //-       li
  //-         a(href= baseUrl + 'cotiza') Cotiza
  //-       li
  //-         a(href= baseUrl+'noticias') Noticias
  //-       li
  //-         a(href=baseUrl+'nosotros') Empresa
  //-       //- li
      //-     a(href=baseUrl+'clientes') Clientes
      //- form.navbar-form.navbar-right(role='search')
      //-   .form-group
      //-     input.form-control(type='text', placeholder='Buscar...')
      //-   button.btn.btn-primary(type='submit')
      //-     span.fa.fa-search
  .sidenav.navbar
      ul.sidenav
        li.active 
          a(href= baseUrl) 
            img.logo(src=baseUrl+"images/home.svg", alt="Inicio", height="30px", aria-hidden="true")
            span.opcion Inicio 
            span.sr-only (actual)   
        li
          a(href= baseUrl + 'esterilizacion') 
            img.logo(src=baseUrl+"images/logo-esterilizacion.svg", alt="esterilizacion", height="28px", aria-hidden="true")
            span.opcion Esterilización
        li
          a(href= baseUrl + 'imagenologia') 
            img.logo(src= baseUrl+'images/logo-imagenologia.svg', alt='imagenologia', height="32px", aria-hidden="true")
            span.opcion Imagenología
        li
          a(href= baseUrl + 'cotiza') 
            img.logo(src=baseUrl+"images/file-alt.svg", alt="Inicio", height="32px", aria-hidden="true")
            span.opcion Cotizaciones
        li
          a(href= baseUrl + 'noticias') 
            img.logo(src=baseUrl+"images/newspaper.svg", alt="Inicio", height="27px", aria-hidden="true")
            span.opcion Noticias
        li
          a(href= baseUrl + 'nosotros') 
            img.logo(src= baseUrl +"images/logo-blanco.svg", alt="technodomus" height="37px", aria-hidden="true")
            span.opcion Empresa
        //- li
          a(href= baseUrl + 'clientes') 
            span.icon.fa.fa-user-md.fa-2x(aria-hidden="true")
            span.opcion Clientes
        li
          a(href=baseUrl+"soporte")
            img.logo(src=baseUrl+"images/tools.svg", alt="Inicio", height="28px", aria-hidden="true")
            span.opcion Soporte    
        li
          a(href= twitter) 
            img.logo(src=baseUrl+"images/twitter.svg", alt="Inicio", height="32px", aria-hidden="true")
            span.opcion Twitter
        li
          a(href= facebook) 
            img.logo(src=baseUrl+"images/facebook.svg", alt="Inicio", height="32px", aria-hidden="true")
            span.opcion Facebook
        li
          a(href= google) 
            img.logo(src=baseUrl+"images/google.svg", alt="Inicio", height="32px", aria-hidden="true")
            span.opcion Google+      
