- var selected = 'Inicio'
- var menu= {'Inicio': baseUrl, 'Esterilización': baseUrl+"esterilizacion",'Imagenología': baseUrl+"imagenologia",'Cotiza':baseUrl+"cotiza", 'Soporte':baseUrl+"soporte",'Blog':baseUrl+"noticias",'Nosotros':baseUrl+"nosotros" }
- var whatsapp = 'https://wa.me/5215584248665/?text=Solicito%20su%20apoyo%20para%20resolver%20un%20problema%20con%20uno%20de%20sus%20equipos' 
- var google = 'https://plus.google.com/109633024373291114640'
- var facebook = 'https://www.facebook.com/Technodomus/'
- var twitter =  'https://www.twitter.com/technodomus'

header

  nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.justify-content-between
    a.navbar-brand(href=baseUrl) 
      img(src= baseUrl + 'images/logoNegPar.png', alt='Technodomus' height="60px")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.ml-auto.mt-2.mt-lg-0
        li.nav-item
          a.nav-link(href=baseUrl) Inicio
        li.nav-item
          a.nav-link(href=baseUrl + "esterilizacion") Esterilización
        li.nav-item
          a.nav-link(href=baseUrl + "farma") Farmacia
        li.nav-item
          a.nav-link(href=baseUrl + "imagenologia") Imagenología
        li.nav-item
          a.nav-link(href=baseUrl+"cotiza") Cotiza
        li.nav-item
          a.nav-link(href=baseUrl+"noticias") Blog
        li.nav-item
          a.nav-link(href=baseUrl+"nosotros") Empresa
        li.nav-item
          a.nav-link(href=baseUrl+"soporte") Soporte
  //-       span.fa.fa-bars
  //-     a.navbar-brand(href= baseUrl)
  //-   .navbar-right.collapse.navbar-collapse#navbar-colapsada
  //-     ul.nav.navbar-nav
  //-       li
  //-         a(href= baseUrl) Inicio
  //-           span.sr-only (actual)
  //-       li.dropdown
  //-         a.dropdown-toggle(href="#", data-toggle="dropdown", role="button") Productos
  //-           span.caret
  //-         ul.dropdown-menu.multi-level(aria-labelledby="menu")
  //-           li.dropdown
  //-             a(href=baseUrl+"esterilizacion") Esterilización
  //-           li.dropdown 
  //-             a(href=baseUrl+"imagenologia") Imagenología
  //-       li
  //-         a(href= baseUrl + 'cotiza') Cotiza
  //-       li
  //-         a(href= baseUrl+'noticias') Noticias
  //-       li
  //-         a(href=baseUrl+'nosotros') Empresa
  //-       //- li
      //-     a(href=baseUrl+'clientes') Clientes
      //- form.navbar-form.navbar-right(role='search')
      //-   .form-group
      //-     input.form-control(type='text', placeholder='Buscar...')
      //-   button.btn.btn-primary(type='submit')
      //-     span.fa.fa-search
  .sidenav.navbar
      ul.sidenav
        li.active 
          a(href= baseUrl) 
            img.logo(src=baseUrl+"images/home.svg", alt="Inicio", height="30px", aria-hidden="true")
            span.opcion Inicio 
            span.sr-only (actual)   
        li
          a(href= baseUrl + 'esterilizacion') 
            img.logo(src=baseUrl+"images/logo-esterilizacion.svg", alt="esterilizacion", height="28px", aria-hidden="true")
            span.opcion Esterilización
        li
          a(href= baseUrl + 'farma') 
            img.logo(src=baseUrl+"images/logo-farma.svg", alt="farma", height="28px", aria-hidden="true")
            span.opcion 
        li
          a(href= baseUrl + 'imagenologia') 
            img.logo(src= baseUrl+'images/logo-imagenologia.svg', alt='imagenologia', height="32px", aria-hidden="true")
            span.opcion Imagenología
        li
          a(href= baseUrl + 'cotiza') 
            img.logo(src=baseUrl+"images/file-alt.svg", alt="Cotiza", height="32px", aria-hidden="true")
            span.opcion Cotizaciones
        li
          a(href= baseUrl + 'noticias') 
            img.logo(src=baseUrl+"images/newspaper.svg", alt="Blog", height="27px", aria-hidden="true")
            span.opcion Blog
        li
          a(href= baseUrl + 'nosotros') 
            img.logo(src= baseUrl +"images/logo-blanco.svg", alt="technodomus" height="37px", aria-hidden="true")
            span.opcion Empresa
        //- li
          a(href= baseUrl + 'clientes') 
            span.icon.fa.fa-user-md.fa-2x(aria-hidden="true")
            span.opcion Clientes
        li
          a(href=baseUrl+"soporte")
            img.logo(src=baseUrl+"images/tools.svg", alt="Soporte", height="28px", aria-hidden="true")
            span.opcion Soporte    
        li
          a(href= whatsapp) 
            img.logo(src=baseUrl+"images/whatsapp.svg", alt="whatsapp", height="32px", aria-hidden="true")
            span.opcion Whatsapp      
        li
          a(href= twitter) 
            img.logo(src=baseUrl+"images/twitter.svg", alt="twitter", height="32px", aria-hidden="true")
            span.opcion Twitter
        li
          a(href= facebook) 
            img.logo(src=baseUrl+"images/facebook.svg", alt="facebook", height="32px", aria-hidden="true")
            span.opcion Facebook
        
