extends ../_layouts/productos2
        
block append config
  - var baseUrl = './../'
  - var tituloPagina = "Technodomus | Soluciones en esterilizacion"
  - var descripcion = "Technodomus te ofrece una amplia gama de soluciones para el lavado, desinfección, esterilización, trazabilidad y validación de tus procesos, con el fin de que puedas ofrecer a tus pacientes la seguridad de que todo tu instrumental estará en las mejores condiciones."

block content
  #parallax-esteril.jumbotron
    h1.cabecera Soluciones en esterilización
    
  .grid  
    +cardprin('El proceso de esterilización')
      +foto('esterilizacion.jpeg','esterilizacion')
      .card-body          
      p El manejo de material médico requiere un proceso que garantice su esterilidad al momento de usarse. Para ello, todo equipo y material debería de pasar por un proceso que incluya:
        ol
          li 
            a(href="./lavado/") Lavado
          li
            a(href="./empaque/") Empaque
          li
            a(href="./esterilizacion/") Esterilización
          li
            a(href="./validacion/") Validación
          li
            a(href="./trazabilidad/") Trazabilidad
        p Para cada paso del proceso, Technodomus le ofrece las mejores alternativas para que sus procesos médicos cuenten siempre con material esteril y en buenas condiciones.

    +cardprod('Servicio Integral de Esterilización', './esterilizacion/solucion-integral-esterilizacion.html')
      .card-body
        +foto('empaque-en-uso.jpg', 'El servicio integral de esterilización incluye todos los consumibles para cada ciclo', 'uso de los empaques de tyvek')
        p Conoce una solución que te permite contar con un esterilizador con la tecnología más moderna y todos los insumos necesarios para que solo te preocupes por tu flujo de trabajo.
        h4
          a(href=baseUrl+"/esterilizacion/solucion-integral-esterilizacion.html") Más información del servicio integral

    +cardprod('Contenedores', './empaque/contenedores.html')
      .card-body
        +foto('contenedores-esterilizacion.jpg', 'Nuestros nuevos contenedores de esterilización', 'Conoce nuestros nuevos contenedores de esterilización')
        h4
          a(href=baseUrl+"esterilizacion/empaque/contenedores.html") Conoce nuestra nueva linea de contenedores para esterilización
          
    +cardprod('Desinfección de superficies', './desinfeccion/')
      .card-body
        +foto('caviwipes-sola-md.png', 'Caviwipes es una solución a los problemas de desinfección')
        p El uso de antibióticos ha sido revolucionario en muchos sentidos, pero también ha propiciado el surgimiento de superbacterias que ahora amenazan la salud de quienes acuden a un hospital.
        p Nombres como <i>Clastridum difficile</i> o <i>Staphylococcus aureus</i> resistente a la meticilina, se hacen cada vez más comunes entre el listado de los problemas de salud pública. En México, se estima que la mitad de los pacientes que ingresan a una unidad de cuidados intensivos adquieren una infección durante su estancia.
        p Por ello, Technodomus te ofrece soluciones en desinfección que te ayudaran a darle más seguridad a tus pacientes e institución.
      .card-footer
        p 
          a(href="./desinfeccion/") Conoce más de nuestras soluciones en desinfección.

    +cardprod('Esterilización', './esterilizacion/')
      .card-body
        +foto('esterilizador-plasma-100-laoken.png', 'Esterilizadores', 'Esterilizador Laoken Plasma 100')
        p Nuestros esterilizadores estan pensados para las necesidades de un hospital moderno que realiza procedimientos de cirugía minimamente invasiva y/o de alta especialidad.
        p Contamos con equipos de baja temperatura, con tecnologías de plasma de peróxido de hidrógeno que es un método altamente eficaz para la esterilización de instrumental complejo y que no soporta alta temperatura.
        h4
          a(href= baseUrl + "esterilizacion/esterilizacion/plasma.html") Esterilizadores de plasma de peróxido de hidrogéno
      .card-footer
        a(href=baseUrl+"esterilizacion/") Conoce más de nuestra gama de esterilizadores
        
    +cardprod('Lavado','./lavado/')
      .card-body
        +foto('lavado.jpg','lavado')
        p El lavado es el paso más importante para mejorar la efectividad de la desinfección o la esterilización. Asegura que el material se encuentra en condiciones de ser tratado y que no implica un riesgo potencial de manipulación para el personal.
        p Un lavado poco cuidadoso en cambio puede acortar la vida útil del equipo al tiempo que reduce la efectividad de la esterilización.
        p Por todo ello, Technodomus ofrece opciones de lavado automatizado y los mejores insumos para el proceso.
        h4 
          a(href=baseUrl+"esterilizacion/lavado/lavadoras.html") Lavadoras
        h4
          a(href=baseUrl+"esterilizacion/lavado/insumos.html") Insumos para el lavado
        
      .card-footer
        a(href= baseUrl+"esterilizacion/lavado/") Conoce más del lavado de instumental
  
    +cardprod('Empaque', './empaque/')
      .card-body
        +foto('empaque.png', 'empaques')
        p El empaques es fundamental para grantizar que el material permanece esteril antes de su apertura, al mismo tiempo que permite la acción del proceso de esterilización seleccionado.
        p Esto hace que los materiales de empaque tengan propiedades particulares y que muchos casos se tengan que combinar diferentes materiales aprovechando sus funciones complementarias.
        p Technodomus provee materiales de empaque de calidad probada para los procesos de esterilización de vapor, óxido de etileno, plasma de peróxido de hidrogéno y vapor de formaldehido que garantizaran la integridad de sus procesos de estilización.
        h4
          a(href=baseUrl+"esterilizacion/empaque/contenedores.html") Contenedores para esterilización
        h4
          a(href=baseUrl+"esterilizacion/empaque/papel-gm.html") Papel grado médico
        h4
          a(href=baseUrl+"esterilizacion/empaque/notejido.html") Materiales no tejidos
        h4
          a(href=baseUrl+"esterilizacion/empaque/tyvek.html") Tyvek®
        h4
          a(href=baseUrl+"esterilizacion/empaque/proteccion.html") Empaques de protección
      .card-footer
        a(href= baseUrl+"esterilizacion/empaque") Las mejores opciopnes de empaque aquí.
            
    +cardprod('Validación', './validacion/')
      .card-body
        +foto('validacion.jpg', 'validacion')
        p La validación le permite conocer si el proceso de esterilización fue exitoso y que en consecuencia, se eliminaron los microorgánismos.
        p No basta con contar con excelentes equipos de esterilización, hay que monitorear de manera constante las variables del proceso para que en todo momento se cumplan los estándares esperados y en caso de haber fallas, estas puedan ser detectadas a tiempo.
        p Por ello, Technodomus provee diferentes herramientas para facilitar la observación de los procesos, la vigilancia de las normas y finalmente, validar que el proceso de esterilziación se llevo de manera adecuada.
        p Contamos con indicadores de proceso, indicadores para pruebas, sensores de parámetros e indicadores biológicos que permiten validar los procesos de esterilización con cualquier técnica seleccionada.
        h4
          a(href= baseUrl+"esterilizacion/validacion/indicadores-quimicos.html") Indicadores químicos
        h4
          a(href=baseUrl+"esterilizacion/validacion/indicadores-biologicos.html") Indicadores biológicos
        h4
          a(href=baseUrl+"esterilizacion/validacion/indicadores-especificos.html") Retos al proceso
      .card-footer
        a(href= baseUrl+"esterilizacion/validacion") Conozca más de nuestras opciones de validación.
        
    +cardprod('Trazabilidad', './trazabilidad/')
      .card-body
        +foto('t-doc2.jpg', 't-doc')
        p Dar seguimiento al instrumental no es una tarea sencilla, pero es básica para mantener inventarios correctos, evitar gastos de sobrecompra de material, pero lo más importante, el riesgo de posponer procedimientos agendados debido a que el instrumental esta retrasado o incluso perdido.
        p T-DOC es el sistema de gestión y trazabilidad de instrumental médico, líder en el mercado. Con más de 900 instalaciones en 40 países alrededor del mundo, T-DOC le permite enfrentar los retos del manejo del instrumental para preocuparse en lo que realmente importa, el paciente.
        p Si sus necesidades de trazabilidad implican un volumen menor, contamos también son sistemas de 
          a(href=baseUrl+"validacion/documentacion.html", title="Documentación manual") documentación manual.
      .card-footer
        a(href=baseUrl+"esterilizacion/trazabilidad") Adentrese en las ventajas de un sistema de trazabilidad avanzado
